<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg00.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{320,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,568}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
            <key>bg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,568}}</string>
                <key>sourceSize</key>
                <string>{320,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bg.png</string>
            <key>size</key>
            <string>{320,1136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46ef160717e155a29b6daf2e2ba56f58:1/1$</string>
            <key>textureFileName</key>
            <string>Bg.png</string>
        </dict>
    </dict>
</plist>
