<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,97},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{84,84}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>blackRec.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{127,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,240}}</string>
                <key>sourceSize</key>
                <string>{127,240}</string>
            </dict>
            <key>costSprite.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,131},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>effectIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,131},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{255,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,93}}</string>
                <key>sourceSize</key>
                <string>{255,93}</string>
            </dict>
            <key>suggestIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,131},{51,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{51,47}</string>
            </dict>
            <key>title-zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,189}}</string>
                <key>sourceSize</key>
                <string>{480,189}</string>
            </dict>
            <key>valueBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,131},{117,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,60}}</string>
                <key>sourceSize</key>
                <string>{117,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGame.png</string>
            <key>size</key>
            <string>{983,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ad76715a215d07d3fa3534cca05781:1/1$</string>
            <key>textureFileName</key>
            <string>UIGame.png</string>
        </dict>
    </dict>
</plist>
